:global {
  body[data-theme='light'] {
    --body-caret-color: var(--natural-700);
  }

  body[data-theme='dark'] {
    --body-caret-color: var(--primary-100);
  }
}

.markdown {
  &Body {
    resize: none;
    border: none;
    outline: none;
    padding: 1rem;
    line-height: 1.25rem;
    font-family: var(--ff-rb-mono);
    caret-color: var(--body-caret-color);
  }
}
