.documents {
  display: flex;
  flex-direction: column;
  row-gap: 1.75rem;
  min-width: 100%;

  &List {
    padding: 0.25rem;

    li {
      margin-bottom: 1.25rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
