.emptyList {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;

  &Content {
    max-width: 23rem;
    font-family: var(--ff-rb-slab);
    font-size: 1.5rem;
    text-align: center;

    button {
      margin-top: 1rem;
    }

    @media (max-width: 768px) {
      font-size: 1.25rem;
    }
  }
}
