.button {
  min-width: 2.563rem;
  min-height: 2.563rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
  border-radius: 0.375rem;
  transition: all var(--tr-time);

  &Primary,
  &Secondary {
    width: 100%;
    padding: 0 0.75rem;
    text-transform: capitalize;
    color: var(--white);
  }

  &Primary {
    background-color: var(--primary-100);
    &:hover {
      background-color: var(--primary-200);
    }
  }

  &Secondary {
    background-color: var(--natural-400);
    &:hover {
      background-color: var(--natural-500);
    }
  }
}
