.button {
  min-width: 2.563rem;
  min-height: 2.563rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
  border-radius: 0.375rem;
  transition: all var(--tr-time);

  &Primary {
    padding: 0 0.75rem;
    background-color: var(--primary-100);
    color: var(--white);
    text-transform: capitalize;

    &:hover {
      background-color: var(--primary-200);
    }
  }
}
