:global {
  body[data-theme='light'] {
    --preview-text-color: var(--black);
    --preview-block-bg: var(--natural-900);
    --preview-border-bg: var(--natural-400);
  }

  body[data-theme='dark'] {
    --preview-text-color: var(--white);
    --preview-block-bg: var(--natural-300);
    --preview-border-bg: var(--natural-500);
  }
}

.preview {
  &Body {
    -webkit-font-smoothing: antialiased;
    font-family: var(--ff-rb-slab);
    word-wrap: break-word;
    padding: 1rem 1.5rem;
    line-height: 1.7;

    a {
      color: var(--preview-text-color);
      text-decoration: underline;
    }

    p,
    blockquote,
    ul,
    ol,
    dl,
    table,
    pre {
      margin: 1rem 0;
    }

    ul,
    ol {
      padding-left: 2rem;
    }

    ul {
      list-style-type: disc;
      li::marker {
        color: var(--primary-100);
      }
    }

    h1,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 700;
      line-height: 1.5;
      color: var(--preview-text-color);
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      color: var(--preview-text-color);
      font-size: 1.75rem;
      font-weight: 300;
    }

    h3 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1.25rem;
    }

    h5 {
      font-size: 1rem;
    }

    h6 {
      color: var(--primary-100);
      font-size: inherit;
    }

    h1 + p,
    h2 + p,
    h3 + p {
      margin-top: 0.628rem;
    }

    img {
      max-width: 100%;
    }

    pre {
      background-color: var(--preview-block-bg);
      padding: 1.5rem;
    }

    code,
    pre {
      font-family: var(--ff-rb-mono);
      color: var(--preview-text-color);
      white-space: pre-wrap;
    }

    code {
      font-weight: 500;
    }

    pre code {
      border: none;
      margin: 0;
      padding: 0;
      white-space: pre-wrap;
      font-weight: inherit;
    }

    blockquote {
      font-weight: 600;
      padding: 0.5rem 1.5rem;
      border-left: 0.25rem solid var(--primary-100);
      border-radius: 0.125rem;
      background: var(--preview-block-bg);
      color: var(--preview-text-color);
    }
  }
}
