.menuButton {
  min-width: 4.5rem;
  min-height: 4.5rem;
  background-color: var(--natural-400);
  transition: var(--tr-time) ease-in-out;

  &:hover {
    background-color: var(--primary-100);
  }

  div {
    transition: 0.2s;
    overflow: hidden;
  }

  span {
    display: block;
    width: 2rem;
    height: 0.125rem;
    margin: 0.187rem auto;
    background-color: var(--white);
  }

  &Active {
    div:first-child {
      transform: translate(0, 100%) rotate(45deg);
    }

    div:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    div:last-child {
      transform: translate(0, -100%) rotate(-45deg);
    }
  }

  @media (max-width: 768px) {
    min-height: 3.75rem;
    min-width: 3.75rem;

    span {
      width: 1.875rem;
    }
  }
}
