.document {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0.25rem;
  column-gap: 1rem;
  transition: color var(--tr-time);

  &Active {
    color: var(--primary-100);
  }

  &Info {
    text-align: left;
    flex-grow: 1;

    span {
      display: inline-block;
      margin-bottom: 0.125rem;
    }
  }
}
