//_Reset styles:
@import-normalize;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//_Import fonts:
/* font-family: "Roboto Mono", monospace; */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/* font-family: "Roboto Slab", serif; */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

/* font-family: "Roboto", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* Icon font */
@import "./icon-font-styles.scss";

:root {
  //_Colors:
  --natural-100: #151619;
  --natural-200: #1d1f22;
  --natural-300: #2b2d31;
  --natural-400: #35393f;
  --natural-500: #5a6069;
  --natural-600: #7c8187;
  --natural-700: #c1c4cb;
  --natural-800: #e4e4e4;
  --natural-900: #f5f5f5;

  --primary-100: #e46643;
  --primary-200: #f39765;

  --white: #ffffff;

  //_Fonts:
  --ff-rb: "Roboto", sans-serif;
  --ff-rb-mono: "Roboto Mono", monospace;
  --ff-rb-slab: "Roboto Slab", serif;

  //_Transition time
  --tr-time: 0.3s;
}

body {
  font-family: var(--ff-rb);
  min-height: 100vh;
}

body[data-theme="light"] {
}

body[data-theme="dark"] {
}

button {
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
}

ul {
  list-style: none;
}

.label-text {
  color: var(--natural-600);
  text-transform: capitalize;
  font-size: 0.75rem;
}

.section-title {
  color: var(--natural-600);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.875rem;
}
